:root {
    --bckgd-color: black;
    --curved-text-color: white;
    --title-color: white;
}

.palette1 {
    --bckgd-color: rgb(179 222 227);
    --curved-text-color: rgb(239 190 73);
    --title-color: rgb(188, 149, 57);
}

.palette1 {
    --bckgd-color: violet;
    --curved-text-color: black;
    --title-color: black;
}