.scroll-container {
    position: absolute;
    background-image: url("../resource/stars.jpeg");
    top: 11.5%;
    bottom: 2.5%;
    right: 1.5%;
    padding: 0;
    width: 97%;
    height: 86%;
    overflow: hidden;
    white-space: nowrap;
    font-family: noto-sans, sans-serif;
    color: white;
}

#text1 {
    position: absolute;
    display: inline-block;
    top: 50%;
    width: 40%;
    left: 1%;
    transform: translateY(-50%);
    font-size: 8vw;
}

#text2 {
    position: absolute;
    display: inline-block;
    width: 40%;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    font-size: 8vw;
}

#at {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vw;
}

/* hover animation */
@keyframes hover {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(5%);
    }

    50% {
        transform: translateY(0%);
    }

    75% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}