body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    font-family: noto-sans, sans-serif;
    overflow: hidden;
}

.browser {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url("../resource/WindowsPanel.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.browser-header {
    position: absolute;
    display: flex;
    align-items: center;
    top: 2.35%;
    left: 3%;
    width: 94%;
    height: 4%;
}

.browser-title {
    font-size: 2vw;
    color: white;
    display: flex;
    align-items: center;
}

.buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 5%;
}

.button {
    border: none;
    cursor: pointer;
    max-width: 42px;
    max-height: 42px;
    overflow: hidden;
    padding: 0;
}

.scroll-content {
    position: absolute;
    background-image: url("../resource/stars.jpeg");
    top: 11.5%;
    bottom: 2.5%;
    right: 1.5%;
    padding: 0;
    width: 97%;
    overflow-y: auto;
    font-family: noto-sans, sans-serif;
    color: white;
}

.display-img {
    cursor: pointer;
    display: block;
    margin: 5% auto;
    width: 80%;
    height: auto;
    overflow: hidden;
}

.description {
    margin: 0 auto;
    margin-bottom: 5%;
    width: 90%;
    font-size: 24px;
    font-weight: 300;
    color: white;
}

h1 {
    font-size: 10vw;
    text-align: center;
    width: 100%;
    font-weight: 900;
    color: white;
    line-height: 50%;
}

h2 {
    font-size: 2vw;
    text-align: center;
    width: 100%;
    font-weight: 900;
    color: white;
    line-height: 50%;
}