body {
    font-family:'Courier New', Courier, monospace;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display:none;
}

#sidebar {
    z-index: 10;
    background-color: rgb(128, 128, 128);
    height: 100%;
    width: 100%;
    margin-left: 0%;
    position: fixed;
    text-align: center;
}

#gear {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    width: 20%;
}

#title-ar {
    margin-bottom: 5%;
}

#main-section {
    width: 80%;
    margin-right: 20%;
    padding-top: 10%;
    opacity: 0;
}

#portfolio-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.wrapper {
    display: none;
}

h2 {
    margin-left: 2%;
}

.grey {
    font-size: 10;
    color: grey;
    opacity: 0.5;
}

.row.single {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    bottom: 0;
    position: absolute;
    left: 20%;
    margin-right: 2%;
}

.item {
    text-align: center;
    padding:0;
}

p.block-text {
    padding:5px;
    border-style: dotted;
    border-color: lightcoral;
}

.inner-text {
    margin-top: 2%;
}

img {
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    opacity: 1;
}


@keyframes rotate { 
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

/* links */
a.subpage {
    width: inherit * 2;
    height: inherit * 2;
    display: block;
    color: white;
}
a.subpage:link {
    color: white;
}

a.subpage:visited {
    color: white;
}

a.subpage:hover {
    color: white;
    background-color: #df9e84;
    text-decoration: none;
    font-weight: bold;
}

a.subpage:active {
    color: #6C5B7B;
    background-color: white;
}