html {
    padding: env(safe-area-inset);
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body.ind {
    position: relative;
}

img {
    position: absolute;
}

.main-page {
    overflow: hidden;
}

.background {
    pointer-events: none;
    bottom: 0%;
    height: auto;
    width:120%;
}

.mss {
    pointer-events: none;
    height: 90vh;
    left: -5vh;
    bottom: -6vh;
}

.title-words {
    pointer-events: none;
    height: 17vh;
    left: 20vh;
    top: 2vh;
}

.shizi {
    left: calc(50% - 20vh);
    top: calc(50% - 20vh);
    height: 50vh;

}

.tiyan {
    right: 25vh;
    top: 10vh;
    height: 35vh;
}

.shibie {
    height: 18vh;
    right: 5vh;
    top: 2vh;
}

.shezhi {
    height: 30vh;
    right: 25vh;
    bottom: 10vh;
}

.button:hover {
    animation: 1s wobble infinite;
}

.loading-image {
    pointer-events: none;
    overflow: hidden;
    display: none;
}

.info {
    display: none;
}

@keyframes wobble {
    0% {transform:  rotate(0deg);}
    25% {transform:  rotate(5deg);}
    50% {transform:  rotate(-5deg);}
    100% {transform:  rotate(0);}
}

@media screen and (orientation:portrait) {

    .main-page {
      display: none;
    }

    .info {
        display: block;
    }
}